/*
!.gitignore
!.clang-format
!.zshrc
!mimeapps.list
!spotify-flags.conf
!albert/
!clangd/
!hypr/
!hyprland-interactive-screenshot/
!kitty/
!nvim/
!waybar/
!xournalpp/
!zathura/
!HyprPanelThemes/
!hyprpanel/
xournalpp/metadata
lazy-lock.json
