/*
!.gitignore
!.clang-format
!.zshrc
!btop/
!xfce4/helpers.rc
!mimeapps.list
!spotify-flags.conf
!albert/
!clangd/
!hypr/
!hyprland-interactive-screenshot/
!kitty/
!nvim/
!waybar/
!xournalpp/
!zathura/
!HyprPanelThemes/
!hyprpanel/
!lazygit/
!eww/
!nekoray
nekoray/config/profiles
xournalpp/metadata
lazy-lock.json
*.log
