configuration {
    modi: "combi,drun,run,file:/home/twenty/.config/rofi/scripts/file-search,clipboard:/home/twenty/.config/rofi/scripts/cliphist,window";
    combi-modi: "drun,file";
    combi-display-format: "{mode}: {text}";
    show-icons: true;
    matching: "fuzzy";
    sort: true;
    sorting-method: "fzf";
    tokenize: true;
    drun-match-fields: "name,generic,exec";
    display-drun: "app";
    display-run: "run";
    display-file: "file";
    display-clipboard: "clip";
    display-combi: "search";
    display-window: "win";
    drun-display-format: "{name}";
    sidebar-mode: false;
}

@theme "noctalia"
